body {
	margin: 0;
	color: #333;
	font-family: Avenir;
	/* -webkit-font-smoothing: antialiased; */
	-moz-osx-font-smoothing: grayscale;
}

.resume {
	padding: 1rem;
	margin: 0 auto;
	max-width: 800px;
}

.header {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
}
.header a {
	text-decoration: none;
	color: #333;
}
.header a:hover {
	color: rgb(141, 41, 41);
}
.contact {
	font-weight: lighter;
	font-size: 0.9rem;
	margin-bottom: 0.1rem;
}
.name {
	line-height: 1;
	margin: 0;
	font-size: 2.5rem;
	font-weight: normal;
}
.header .left-side {
	display: flex;
	flex-direction: column;
}
.header .right-side {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.section {
	margin-bottom: 1rem;
}
.section-title {
	font-size: 1.4rem;
	font-weight: 800;
	margin-bottom: 0.5rem;
}
.item {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}
.item-header {
	display: flex;
	align-items: flex-end;
}
.item-title {
	font-weight: 600;
	margin-right: 0.7rem;
	text-decoration: none;
	color: inherit;
}
.secondary {
	flex-grow: 1;
	opacity: 0.9;
	font-size: 0.9rem;
	font-weight: lighter;
}
.subtitle {
	font-style: italic;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
}
.date {
	font-size: 0.9rem;
	font-style: italic;
}
.detail:before {
	content: '';
	display: inline-block;
	position: relative;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	top: -3px;
	right: 7px;
	background-color: #333;
}
.detail {
	margin-left: 0.8rem;
	margin-bottom: 0.3rem;
	font-size: 0.9rem;
}
